In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
df = pd.read_csv("../Resources/clean_data_with_datetime_10_18.csv")

In [7]:
df.head()

,Unnamed: 0,Datetime,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date,Occurred Time,Location Type,Address,Zip Code,Council District,APD Sector,Census Tract,Clearance Status,Clearance Date,Category Description,Latitude,Longitude,Datetime String
0,0,2018-12-31 00:00:00,HARASSMENT,2703,N,2018-12-31,0,RESIDENCE / HOME,4600 MUELLER BLVD,78723.0,9.0,BA,3.06,N,1/9/19,NaN,30.299481,-97.708049,2018-12-31 0000
1,1,2018-12-31 17:30:00,TERRORISTIC THREAT-FAM/DAT VIO,2704,Y,2018-12-31,1730,RESIDENCE / HOME,11109 RENEL DR,78758.0,4.0,ED,18.45,N,1/8/19,NaN,30.383668,-97.695329,2018-12-31 1730
2,2,2018-12-31 07:55:00,DISTURBANCE - OTHER,3401,N,2018-12-31,755,STREETS / HWY / ROAD / ALLEY,715 E 8TH ST,78701.0,9.0,GE,11.00,N,1/6/19,NaN,30.267553,-97.734674,2018-12-31 0755
3,3,2018-12-31 11:04:00,THEFT,600,N,2018-12-31,1104,SPECIALTY STORE (TV FUR ETC.),9629 RESEARCH BLVD NB,78759.0,7.0,AD,17.53,N,1/9/19,Theft,30.389161,-97.743414,2018-12-31 1104
4,4,2018-12-31 19:30:00,HARASSMENT,2703,Y,2018-12-31,1930,RESIDENCE / HOME,13635 RUTLEDGE SPUR,78717.0,6.0,AD,203.11,N,1/8/19,NaN,30.476251,-97.780352,2018-12-31 1930

In [8]:
df = df.drop(columns=["Unnamed: 0"])

In [9]:
df["Datetime"] = pd.to_datetime(df["Datetime"])

In [10]:
df = df.set_index("Datetime")

In [11]:
df.head()

,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date,Occurred Time,Location Type,Address,Zip Code,Council District,APD Sector,Census Tract,Clearance Status,Clearance Date,Category Description,Latitude,Longitude,Datetime String
Datetime,,,,,,,,,,,,,,,,,
2018-12-31 00:00:00,HARASSMENT,2703,N,2018-12-31,0,RESIDENCE / HOME,4600 MUELLER BLVD,78723.0,9.0,BA,3.06,N,1/9/19,NaN,30.299481,-97.708049,2018-12-31 0000
2018-12-31 17:30:00,TERRORISTIC THREAT-FAM/DAT VIO,2704,Y,2018-12-31,1730,RESIDENCE / HOME,11109 RENEL DR,78758.0,4.0,ED,18.45,N,1/8/19,NaN,30.383668,-97.695329,2018-12-31 1730
2018-12-31 07:55:00,DISTURBANCE - OTHER,3401,N,2018-12-31,755,STREETS / HWY / ROAD / ALLEY,715 E 8TH ST,78701.0,9.0,GE,11.00,N,1/6/19,NaN,30.267553,-97.734674,2018-12-31 0755
2018-12-31 11:04:00,THEFT,600,N,2018-12-31,1104,SPECIALTY STORE (TV FUR ETC.),9629 RESEARCH BLVD NB,78759.0,7.0,AD,17.53,N,1/9/19,Theft,30.389161,-97.743414,2018-12-31 1104
2018-12-31 19:30:00,HARASSMENT,2703,Y,2018-12-31,1930,RESIDENCE / HOME,13635 RUTLEDGE SPUR,78717.0,6.0,AD,203.11,N,1/8/19,NaN,30.476251,-97.780352,2018-12-31 1930

In [14]:
df = df.fillna( {"Zip Code":0})

In [16]:
df[df["Zip Code"].isna()]

Empty DataFrame
Columns: [Highest Offense Description, Highest Offense Code, Family Violence, Occurred Date, Occurred Time, Location Type, Address, Zip Code, Council District, APD Sector, Census Tract, Clearance Status, Clearance Date, Category Description, Latitude, Longitude, Datetime String]
Index: []

In [19]:
df["Zip Code"] = df["Zip Code"].apply(np.int64)

In [21]:
df.to_csv("../Resources/clean_data_with_datetime_10_18.csv")